[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1"
django-autoslug = "*"
pillow = "*"
django-ckeditor = "*"
django-crispy-forms = "*"
django-environ = "*"
sentry-sdk = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.11"
